* {
  box-sizing: border-box;
}
body {
  background-color: #c6e6e6;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 20px;
}

h1 {
    color: rgb(207, 123, 13);
    text-transform: uppercase;
}
form {
  padding: 20px;
  border: 2px solid rgb(207, 123, 13);
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 900;
}

form div {
  height: 40px;
  margin-bottom: 30px;
  text-align: left;
}

input {
  /* margin-left: 30px; */
  padding: 8px 12px;
  border: 2px solid rgb(207, 123, 13);
  border-radius: 5px;
  outline: none;
  width: 100%;
  margin-top: 5px;
}

.btn {
  width: 50%;
  background: rgb(207, 123, 13);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  border: solid 1px rgb(207, 123, 13);
  background-color: white;
  color: rgb(207, 123, 13);
}

table{
    margin: 10px auto 30px;
}
th,
td {
  padding: 15px;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
}
th{
    background-color: rgb(207, 123, 13);
    color: white;
    text-align: center;
}

tr:hover{
    font-weight: 900;
}

a{
    display: block;
    margin: 10px;
    text-decoration: none;
    font-size: 1.5rem;
}